.character-xp {
	position: relative;

	height: 1.2rem;

	margin-top: 0.5rem;

	&-label {
		position: absolute;

		left: 50%;
		top: 50%;

		transform: translateX(-50%) translateY(-50%);

		font-size: 0.9rem;
	}
}
