@import '../../../variables';

.character-talents-tree {
	h3 {
		text-align: center;
		white-space: nowrap;
	}

	&-grid {
		display: grid;

		grid-gap: 0.5rem;
		grid-template-columns: repeat(4, 45px);
		grid-template-rows: repeat(6, 45px);

		width: max-content;

		margin: 0 auto;
	}
}
