/* XXX variables XXX */
// rarity colors
$color-poor: #9d9d9d;
$color-common: #ffffff;
$color-uncommon: #1eff00;
$color-rare: #0070dd;
$color-epic: #a335ee;
$color-legendary: #ff8000;

// class colors
$color-druid: #ff7d0a;
$color-hunter: #a9d271;
$color-mage: #40c7eb;
$color-paladin: #f58cba;
$color-priest: #ffffff;
$color-rogue: #fff569;
$color-shaman: #0070de;
$color-warlock: #8787ed;
$color-warrior: #c79c6e;

/* XXX styles XXX */

.class-color {
	&-druid {
		color: $color-druid;
	}
	&-hunter {
		color: $color-hunter;
	}
	&-mage {
		color: $color-mage;
	}
	&-paladin {
		color: $color-paladin;
	}
	&-priest {
		color: $color-priest;
	}
	&-rogue {
		color: $color-rogue;
	}
	&-shaman {
		color: $color-shaman;
	}
	&-warlock {
		color: $color-warlock;
	}
	&-warrior {
		color: $color-warrior;
	}
}

.color-rarity {
	&-poor {
		color: $color-poor;
	}
	&-common {
		color: $color-common;
	}
	&-uncommon {
		color: $color-uncommon;
	}
	&-rare {
		color: $color-rare;
	}
	&-epic {
		color: $color-epic;
	}
	&-legendary {
		color: $color-legendary;
	}
}

.border-rarity {
	&-poor {
		border: 1px solid $color-poor;
	}
	&-common {
		border: 1px solid $color-common;
	}
	&-uncommon {
		border: 1px solid $color-uncommon;
	}
	&-rare {
		border: 1px solid $color-rare;
	}
	&-epic {
		border: 1px solid $color-epic;
	}
	&-legendary {
		border: 1px solid $color-legendary;
	}
}

.character {
	max-width: 1000px;
	margin: 0 auto;
}

.character-header {
	display: flex;

	justify-content: space-between;
	align-items: start;
	margin-bottom: 0.3rem;

	.character-names {
		h1 {
			line-height: 1;
			margin-bottom: 0;
			font-size: 1.1rem;
		}
		h2 {
			margin-bottom: 0;
			font-size: 0.95rem;
		}
	}
	.character-tagline {
		// display: flex;

		h4 {
			margin-bottom: 0;
			font-size: 0.65rem;
		}
	}
}

.item-stats {
	// all: unset;
	text-align-last: left !important;
	position: absolute;
	font-size: 0.5rem;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1000;
	padding: 0.2rem;
	border-radius: 10px;
	// width: max-content;
}

.character-doll {
	display: grid;

	grid-template-areas:
		'head head head . . hands hands hands'
		'neck neck neck . . waist waist waist'
		'shoulder shoulder shoulder . . legs legs legs'
		'back back back . . feet feet feet'
		'chest chest chest . . finger0 finger0 finger0'
		'shirt shirt shirt . . finger1 finger1 finger1'
		'tabard tabard tabard . . trinket0 trinket0 trinket0'
		'wrist wrist wrist . . trinket1 trinket1 trinket1'
		'. mainhand mainhand secondaryhand secondaryhand ranged ranged .'
		'. . . . . ammo ammo .'
		'bag0 bag0 bag1 bag1 bag2 bag2 bag3 bag3';

	align-items: center;

	margin-bottom: 2rem;

	.item {
		margin-top: 0.075rem;
		margin-bottom: 0.075rem;

		&:nth-child(n):nth-child(-n + 8) {
			.item-body {
				.item-img {
					margin-right: 20px;
				}
			}
		}

		&:nth-child(n + 9):nth-child(-n + 16) {
			text-align: right;

			.item-body {
				justify-content: end;
				a {
					order: 2;
				}
				.item-img {
					margin-left: 20px;
				}

				.item-description {
					.item-stat {
						margin-left: auto;
						width: max-content;
					}
				}
			}
		}

		&:nth-child(n + 17):nth-child(-n + 24) {
			margin-top: 0.2rem;
			margin-bottom: 0.2rem;
			.item-body {
				// flex-direction: column;

				align-items: center;
				.item-img {
					width: 60px;
					height: 60px;
					margin: 0 10px;
				}

				.item-description {
					width: calc(100% - 95px);
				}
			}
		}

		.item-body {
			display: flex;

			align-items: center;

			.item-img {
				width: 60px;
				height: 60px;
				border-radius: 10px;
			}

			.item-description {
				position: relative;

				width: calc(100% - 80px);

				font-size: 0.5rem;

				line-height: 1.1;

				.item-name {
					font-size: 0.55rem;
				}

				.item-stat {
					display: flex;

					&-label {
						margin-right: 5px;
					}
				}
			}
		}
	}
}

.character-doll {
	.item {
		&-head {
			grid-area: head;
		}

		&-hands {
			grid-area: hands;
		}

		&-neck {
			grid-area: neck;
		}

		&-waist {
			grid-area: waist;
		}

		&-shoulder {
			grid-area: shoulder;
		}

		&-legs {
			grid-area: legs;
		}

		&-back {
			grid-area: back;
		}

		&-feet {
			grid-area: feet;
		}

		&-chest {
			grid-area: chest;
		}

		&-finger0 {
			grid-area: finger0;
		}

		&-shirt {
			grid-area: shirt;
		}

		&-finger1 {
			grid-area: finger1;
		}

		&-tabard {
			grid-area: tabard;
		}

		&-trinket0 {
			grid-area: trinket0;
		}

		&-wrist {
			grid-area: wrist;
		}

		&-trinket1 {
			grid-area: trinket1;
		}

		&-mainhand {
			grid-area: mainhand;
		}

		&-secondaryhand {
			grid-area: secondaryhand;
		}

		&-ranged {
			grid-area: ranged;
		}

		&-ammo {
			grid-area: ammo;
		}

		&-bag0 {
			grid-area: bag0;
		}

		&-bag1 {
			grid-area: bag1;
		}

		&-bag2 {
			grid-area: bag2;
		}

		&-bag3 {
			grid-area: bag3;
		}
	}
}
