/* XXX variables XXX */
// rarity colors
$color-poor: #9d9d9d;
$color-common: #ffffff;
$color-uncommon: #1eff00;
$color-rare: #0070dd;
$color-epic: #a335ee;
$color-legendary: #ff8000;

// class colors
$color-druid: #ff7d0a;
$color-hunter: #a9d271;
$color-mage: #40c7eb;
$color-paladin: #f58cba;
$color-priest: #ffffff;
$color-rogue: #fff569;
$color-shaman: #0070de;
$color-warlock: #8787ed;
$color-warrior: #c79c6e;

$color-q: #ffd100;

/* XXX styles XXX */

.class-color {
	&-druid {
		color: $color-druid;
	}
	&-hunter {
		color: $color-hunter;
	}
	&-mage {
		color: $color-mage;
	}
	&-paladin {
		color: $color-paladin;
	}
	&-priest {
		color: $color-priest;
	}
	&-rogue {
		color: $color-rogue;
	}
	&-shaman {
		color: $color-shaman;
	}
	&-warlock {
		color: $color-warlock;
	}
	&-warrior {
		color: $color-warrior;
	}
}

.c4 {
	color: $color-rogue;
}

.color-rarity {
	&-0 {
		color: $color-poor;
	}
	&-1 {
		color: $color-common;
	}
	&-2 {
		color: $color-uncommon;
	}
	&-3 {
		color: $color-rare;
	}
	&-4 {
		color: $color-epic;
	}
	&-5 {
		color: $color-legendary;
	}
}

.q0 {
	color: $color-poor;
}

.q1 {
	color: $color-common;
}

.q2 {
	color: $color-uncommon;
}

.q3 {
	color: $color-rare;
}

.q4 {
	color: $color-epic;
}

.q5 {
	color: $color-legendary;
}

.q {
	color: $color-q;
}

.moneygold {
	display: inline-block;
	background: no-repeat right center;
	padding-right: 15px;
	background-image: url(/media/money-gold.gif);
}
.moneysilver {
	display: inline-block;
	background: no-repeat right center;
	padding-right: 15px;
	background-image: url(/media/money-silver.gif);
}
.moneycopper {
	display: inline-block;
	background: no-repeat right center;
	padding-right: 15px;
	background-image: url(/media/money-copper.gif);
}

.badge {
	padding-bottom: 0.3em !important;
}

.border-rarity {
	&-0 {
		border: 1px solid $color-poor;
	}
	&-1 {
		border: 1px solid $color-common;
	}
	&-2 {
		border: 1px solid $color-uncommon;
	}
	&-3 {
		border: 1px solid $color-rare;
	}
	&-4 {
		border: 1px solid $color-epic;
	}
	&-5 {
		border: 1px solid $color-legendary;
	}
}

.character {
	max-width: 1000px;
	width: max-content;
	margin: 0 auto;
}

.character-header {
	display: flex;

	justify-content: space-between;
	align-items: start;

	.character-names {
		h1 {
			line-height: 1;
			margin-bottom: 0;
			font-size: 1.1rem;
		}
		h2 {
			margin-bottom: 0;
			font-size: 0.95rem;
		}
	}
	.character-tagline {
		h4 {
			margin-bottom: 0;
			font-size: 0.65rem;
		}
	}
}

.item-stats {
	position: absolute;
	z-index: 1000;

	width: max-content;

	padding: 0.2rem;

	text-align: left !important;
	font-size: 0.4rem;

	background-color: rgba(0, 0, 0, 0.8);
	// border-radius: 5px;

	transition: opacity 100ms linear;

	a {
		color: inherit;
	}
}

.shader {
	display: block;
	position: relative;
	margin-left: auto;
	&:hover::before {
		box-shadow: inset 0 0 25px rgba(0, 0, 0, 1);
	}
}
.shader:before {
	box-shadow: inset 0 0 25px rgba(0, 0, 0, 0);

	transition: box-shadow 100ms linear;
	content: '';
	height: 100%;
	position: absolute;
	width: 60px;
}
.character-doll {
	display: grid;

	grid-template-rows: repeat(8, 3fr) 5fr 6fr 3fr;
	// grid-template-columns: 10fr repeat(6, 7fr) 10fr;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 0.3rem;

	grid-template-areas:
		'head head head . . hands hands hands'
		'neck neck neck . . waist waist waist'
		'shoulder shoulder shoulder . . legs legs legs'
		'back back back . . feet feet feet'
		'chest chest chest . . finger0 finger0 finger0'
		'shirt shirt shirt . . finger1 finger1 finger1'
		'tabard tabard tabard . . trinket0 trinket0 trinket0'
		'wrist wrist wrist . . trinket1 trinket1 trinket1'
		'. . mainhand mainhand secondaryhand secondaryhand ranged ranged'
		'. . . . . . ammo ammo'
		'bag0 bag0 bag1 bag1 bag2 bag2 bag3 bag3';

	align-items: center;

	margin-bottom: 2rem;

	position: relative;

	.item {
		&:nth-child(n):nth-child(-n + 8) {
			.item-body {
				.shader {
					margin-right: 20px;
				}
			}
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11) {
			.item-stats {
				transform: translateY(-10%);
			}
		}

		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(12),
		&:nth-child(13),
		&:nth-child(14) {
			.item-stats {
				transform: translateY(-30%);
			}
		}

		&:nth-child(7),
		&:nth-child(8),
		&:nth-child(14),
		&:nth-child(15),
		&:nth-child(16) {
			.item-stats {
				transform: translateY(-50%);
			}
		}

		&:nth-child(n + 9):nth-child(-n + 16) {
			text-align: right;

			.item-body {
				justify-content: end;
				a {
					order: 2;
				}
				.shader {
					margin-left: 20px;
				}

				.item-description {
					.item-stats {
						right: 0;
					}
				}
			}
		}

		&:nth-child(n + 17):nth-child(-n + 19) {
			align-self: end;
		}

		&:nth-child(20) {
			align-self: start;
		}

		&:nth-child(n + 17):nth-child(-n + 24) {
			.item-body {
				align-items: center;

				.shader {
					margin: 0 10px;
				}

				.item-description {
					width: calc(100% - 95px);

					.item-stats {
						left: 0;
						bottom: 0;
					}
				}
			}
		}

		.item-body {
			display: flex;

			align-items: center;

			.item-img {
				width: 60px;
				height: 60px;
				// border-radius: 5px;
			}

			.item-description {
				position: relative;

				width: calc(100% - 80px);

				font-size: 0.5rem;

				line-height: 1.1;

				.item-name {
					font-size: 0.55rem;
				}

				.item-stat {
					display: flex;

					&-label {
						margin-right: 5px;
					}
				}
			}
		}
	}
}

.character-doll {
	.item {
		&-head {
			grid-area: head;
		}

		&-hands {
			grid-area: hands;
		}

		&-neck {
			grid-area: neck;
		}

		&-waist {
			grid-area: waist;
		}

		&-shoulder {
			grid-area: shoulder;
		}

		&-legs {
			grid-area: legs;
		}

		&-back {
			grid-area: back;
		}

		&-feet {
			grid-area: feet;
		}

		&-chest {
			grid-area: chest;
		}

		&-finger0 {
			grid-area: finger0;
		}

		&-shirt {
			grid-area: shirt;
		}

		&-finger1 {
			grid-area: finger1;
		}

		&-tabard {
			grid-area: tabard;
		}

		&-trinket0 {
			grid-area: trinket0;
		}

		&-wrist {
			grid-area: wrist;
		}

		&-trinket1 {
			grid-area: trinket1;
		}

		&-mainhand {
			grid-area: mainhand;
		}

		&-secondaryhand {
			grid-area: secondaryhand;
		}

		&-ranged {
			grid-area: ranged;
		}

		&-ammo {
			grid-area: ammo;
		}

		&-bag0 {
			grid-area: bag0;
		}

		&-bag1 {
			grid-area: bag1;
		}

		&-bag2 {
			grid-area: bag2;
		}

		&-bag3 {
			grid-area: bag3;
		}
	}
}
