// colors from PSD and style guide
$beige: #fef1e0;
$map-beige: #fff8f0;
$orange: #f47920;
$black: #000000;
$blue: #3763af;
$cyan: #00aeef;
$dark-gray: #575757;
$gray: #939598;
$light-gray: #c9c9c9;
$green: #a6ce39;
$light-orange: #faa21b;
$magenta: #ec008c;
$purple: #74489d;
$red: #c91f1f;
$teal: #00aaad;
$white: #ffffff;

$box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
$share-btn-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
	0 1px 2px rgba(0, 0, 0, 0.24);
$share-btn-box-shadow__hover: 0 14px 28px rgba(0, 0, 0, 0.25),
	0 10px 10px rgba(0, 0, 0, 0.22);
