@import 'variables';

.link-card {
	color: $white !important;

	&:hover {
		color: inherit;
		text-decoration: none;
	}

	.card {
		transition: background-color 100ms linear;

		&:hover {
			background-color: darken($gray-dark, 5%);
		}
	}
}
