@import 'variables';

kbd {
	background-color: var(--secondary);
	margin: 0 5px;
}

* {
	border-radius: 0 !important;
}

a {
	color: var(--info);
}

/* color classes */
.color {
	// class
	&-druid {
		color: $druid !important;
	}
	&-hunter {
		color: $hunter !important;
	}
	&-mage {
		color: $mage !important;
	}
	&-paladin {
		color: $paladin !important;
	}
	&-priest {
		color: $priest !important;
	}
	&-rogue {
		color: $rogue !important;
	}
	&-shaman {
		color: $shaman !important;
	}
	&-warlock {
		color: $warlock !important;
	}
	&-warrior {
		color: $warrior !important;
	}

	// quality
	&-poor {
		color: $poor !important;
	}
	&-common {
		color: $common !important;
	}
	&-uncommon {
		color: $uncommon !important;
	}
	&-rare {
		color: $rare !important;
	}
	&-epic {
		color: $epic !important;
	}
	&-legendary {
		color: $legendary !important;
	}
}

/* border classes */
.border {
	// general
	&-blue {
		border: 1px solid $blue;
	}
	&-indigo {
		border: 1px solid $indigo;
	}
	&-purple {
		border: 1px solid $purple;
	}
	&-magenta {
		border: 1px solid $magenta;
	}
	&-pink {
		border: 1px solid $pink;
	}
	&-red {
		border: 1px solid $red;
	}
	&-orange {
		border: 1px solid $orange;
	}
	&-light-orange {
		border: 1px solid $light-orange;
	}
	&-yellow {
		border: 1px solid $yellow;
	}
	&-green {
		border: 1px solid $green;
	}
	&-teal {
		border: 1px solid $teal;
	}
	&-cyan {
		border: 1px solid $cyan;
	}
	&-white {
		border: 1px solid $white;
	}
	&-beige {
		border: 1px solid $beige;
	}
	&-map-beige {
		border: 1px solid $map-beige;
	}
	&-light-gray {
		border: 1px solid $light-gray;
	}
	&-gray {
		border: 1px solid $gray;
	}
	&-gray-dark {
		border: 1px solid $gray-dark;
	}
	&-black {
		border: 1px solid $black;
	}

	&-primary {
		border: 1px solid $primary;
	}
	&-secondary {
		border: 1px solid $secondary;
	}
	&-success {
		border: 1px solid $success;
	}
	&-info {
		border: 1px solid $info;
	}
	&-warning {
		border: 1px solid $warning;
	}
	&-danger {
		border: 1px solid $danger;
	}
	&-light {
		border: 1px solid $light;
	}
	&-dark {
		border: 1px solid $dark;
	}

	&-buff {
		border: 1px solid $buff;
	}
	&-debuff {
		border: 1px solid $debuff;
	}

	// class
	&-druid {
		border: 1px solid $druid;
	}
	&-hunter {
		border: 1px solid $hunter;
	}
	&-mage {
		border: 1px solid $mage;
	}
	&-paladin {
		border: 1px solid $paladin;
	}
	&-priest {
		border: 1px solid $priest;
	}
	&-rogue {
		border: 1px solid $rogue;
	}
	&-shaman {
		border: 1px solid $shaman;
	}
	&-warlock {
		border: 1px solid $warlock;
	}
	&-warrior {
		border: 1px solid $warrior;
	}

	// quality
	&-poor {
		border: 1px solid $poor;
	}

	&-common {
		border: 1px solid $common;
	}

	&-uncommon {
		border: 1px solid $uncommon;
	}

	&-rare {
		border: 1px solid $rare;
	}

	&-epic {
		border: 1px solid $epic;
	}

	&-legendary {
		border: 1px solid $legendary;
	}
}

.moneygold {
	display: inline-block;

	background: no-repeat right center;

	margin-right: 2.5px;
	padding-right: 15px;

	background-image: url('/media/money-gold.gif');
}
.moneysilver {
	display: inline-block;

	background: no-repeat right center;

	margin-right: 2.5px;
	padding-right: 15px;

	background-image: url('/media/money-silver.gif');
}
.moneycopper {
	display: inline-block;

	background: no-repeat right center;

	margin-right: 2.5px;
	padding-right: 15px;

	background-image: url('/media/money-copper.gif');
}

.switch-wrapper {
	position: relative;
}

.switch-wrapper > div {
	position: absolute;
}

.page-enter {
	opacity: 0.01;
}

.page-enter.page-enter-active {
	opacity: 1;
	transition: opacity 1000ms linear;
}

.page-leave {
	opacity: 1;
}

.page-leave.page-leave-active {
	opacity: 0.01;
	transition: opacity 1000ms linear;
}

.container {
	max-width: $xxxl;
	// overflow: hidden;
}

.transition {
	opacity: 1;

	transition: opacity 100ms linear;

	&-fading {
		opacity: 0.01;
	}
}

.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 100ms linear;
}

.fade-leave {
	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0.01;
	transition: opacity 100ms linear;
}
